你能看见我说啥不大哥：
PORT=3001
SUPABASE_URL=https://oairdwbupxhjdypbcdzl.supabase.co
SUPABASE_ANON_KEY=sb_publishable_xHKRdCQvXVN_nsbpEG9Hcg_kvBcdqHo
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9haXJkd2J1cHhoamR5cGJjZHpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA1Nzg2MiwiZXhwIjoyMDg2NjMzODYyfQ.8eNd-4WgdZADaiT8BdBeg1isBtsdHvL26o8aQqZmE9g
JWT_SECRET=tyovommaxx070826
NODE_ENV=development